@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-caption {
  position: absolute;
 margin-left:30px;
 margin-top: 400px;
 margin-bottom: 500px;
 background: rgba(0, 0, 0, 0.6); /* Dark semi-transparent background */
 padding: 15px;
 border-radius: 10px;
}
.intro{
 margin-top: 30px;
 margin-bottom: 30px;
 font-size: 50px;
 font-weight: 600;
 padding: 100px;

}
.featured-img {
  background-size: cover;
  background-position: center;
  display: block;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  margin-top: 30px;
  margin-bottom: 30px;
}
.desc{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 30px; 
  margin-bottom: 100px;
}
.partners{
  font-weight: 800px;
  font-size: 300px;
  margin-bottom: 100px;
}
.brand{
  margin-bottom: 100px;
}
.header {
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: white;
}
.productdetails {
  margin-top: 10px;
}
.image_product{
  margin-top: 50px;
}
.collection_header{
  margin: 30px;
  font-weight: 30px;
  font-size: 60px;
}